.eserut{
    display: flex;
    background-color: rgb(219, 20, 60,0.5);
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    width: 150vh;
    align-self: center;
    margin-top: 100px;
}
.titulo{
    display: flex;
    justify-content: center;
}
.formito{
display: flex;
flex-direction: column;
justify-content: center;
width: fit-content;
}
.inputText{
    border-radius: 5px;
    width: fit-content;
    border: 1px solid ;
}
.uploadBtn{
    width: fit-content;
}